body
{
    background-color: #778899;
}

h1
{
    font-family: 'Jost', sans-serif;
    font-size:200%;
    color: white;
    text-align:center
}
p
{
    font-family: 'Jost', sans-serif;
    font-size:150%;
    color: black;
    text-align:center
}