<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">

  <!--To remove favicon error-->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  <title>Hospital Management</title>


{% block css_link %}

{% endblock %}



</head>

<!--Body tag-->
  {% block content %}

  {% endblock %}

  {% block additional_footer %}

  {% endblock %}
 
    
</script>
</body>

</html> 