{% extends "base.html" %}

{% block css_link %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dashboard.css') }}"> 
 <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/box.css') }}"> 
{% endblock %}

{% block content %}
<body>

{% include "topbar.html" %}

<section class="">
    <div class="">
        <!-- Small boxes (Stat box) -->
        <div class="grey-box">
            {% for key,item in count_dict.items() %}
            <div class="">
                <div class="">
                    <div class="oval green-oval">
                        <h3>{{item}}</h3>
                        <p>{{key|title}}</p>
                    {% if key == "patient" or key == "treatment" %}
                    <a href="/{{key}}" class="">More info</a>
                    {% endif %}
                </div>

                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>        


{% endblock %}
