{% extends "base.html" %}

{% block css_link %}
<!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dashboard.css') }}"> -->
{% endblock %}

{% block content %}
<body>

{% include "topbar.html" %}

<section class="">
    <div class="">
        <!-- Small boxes (Stat box) -->
        <div class="">
            {% for key,item in count_dict.items() %}
            <div class="">
                <div class="">
                    <div class="">
                        <h3>{{item}}</h3>
                        <p>{{key|title}}</p>
                    </div>
                    <div class="">
                        <i class=""></i>
                    </div>
                    <a href="/{{key}}" class="">More info</a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>        


{% endblock %}