{% extends "base.html" %}

{% block css_link %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/navbar.css') }}"> 
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
{% endblock %}


{% block content %}
<body class="">

  <div class="">
    {% include "navbar.html" %}

    <main role="" class="">
      <h1 data-text="Hospital Management"class="">Hospital Management</h1>
      <form action="/login" method="get" >
        <button type="submit">Login</button>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

     </form>
    </main>

    <footer class="">
        <div class="bottom-right">
            <p>Made by Karen Setiawan and Zhou Jialei</p>
        </div>
    </footer>
  </div>
{% endblock %}
