{% extends "base.html" %}

{% block css_link %}
  <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}"> --> 
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
{% endblock %}

{% block content %}
<body class="">

  <div class="">
    {% include "navbar.html" %}


  <!-- <form class="" action="/login" method="POST">
    <h1>Login</h1>
    <label for="username">Username: </label>
    <input type="text" name="username" placeholder="Username">
    <br>
    <label for="password">Password: </label>
    <input type="password" name="password" placeholder="Password">
    <br>

    <input type="submit" value="Login" >
    <br>

    <a href="/register">Register a new account</a>
  </form> -->
  <form class="login-box" action="/login" method="POST">
    <h1>Login</h1>
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login" >
    <a href="/register">Register a new account</a>
  </form>

  </div>
{% endblock %}
