{% extends "base.html" %}

{% block css_link %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/patient.css') }}">
{% endblock %}

{% block content %}
<body>

{% include "topbar.html" %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Patient details</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Patient</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
    <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
            <h3 class="card-title">Current Medical Statistics</h3>
            </div>

            <div class="card-body">
                <table id="dataTable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                        <th>Patient ID</th>
                        <th>Name</th>
                        <th>Sex</th>

                        <th>Blood</th>
                        <th>Heart Rate</th>
                        <th>Temperature</th>
                        <th>Pulse</th>
                        </tr>
                    </thead>

                    <tbody>
                      {% for dict in data %}
                      <tr>
                        {% for key, value in dict.items() %}
                        <td data-title="{{key|replace('_',' ')|title}}">{{value}}</td>
                        {% endfor %}
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    </section>
    
      
    
{% endblock %}

{% block additional_footer %}

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script>
    $(function () {
        $('#dataTable').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "scrollX": false,
            "rowReorder": {
              "selector": 'td:nth-child(2)'
            },
        "responsive": true

        });
    });

{% endblock %}

