{% extends "base.html" %}

{% block css_link %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/navbar.css') }}"> 
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/box.css') }}">
{% endblock %}

{% block content %}
<body class="">

  <div class="">
    {% include "navbar.html" %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
      {% if category == "error" or category == "warning"  %}
        <div class="oval error-oval">{{message}} </div>
      {% else %}
        <div class="oval success-oval">{{message}} </div>

      {% endif %}

    {% endfor %}
    {% endif %}
    {% endwith %}
  <form class="grey-box" action="/payment" method="POST">
    <h1>Payment For Patient</h1>
    <input type="text" class="oval blue-oval" name="name" placeholder="Name">

    <div class="oval blue-oval">
      <label for="sex">Sex: </label> <br>
      <input type="radio" name="sex" value="Male" required><label for="Male">Male</label>
      <input type="radio" name="sex" value="Female" required><label for="Female">Female</label>
    </div>
    
    <div class="oval blue-oval">
    <label for="blood">Blood type: </label> <br>
    <input type="radio" name="blood" value="A" required><label for="A">A</label>
    <input type="radio" name="blood" value="B" required><label for="B">B</label>
    <input type="radio" name="blood" value="O" required><label for="O">O</label>
    <input type="radio" name="blood" value="AB" required><label for="AB">AB</label>
    </div>

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <input type="submit" class="oval green-oval" value="Pay" >
    <br>
  </form>

  </div>

{% endblock %}
