<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/topbar.css') }}">
<header class="">
    <div class="b">
        <nav class="">
            <a class="{% if request.path == '/dashboard' %}active {% endif %}" href='/dashboard'>Dashboard</a>
        <a class="{% if request.path == '/Patient' %}active {% endif %}" href='/patient'>Patient</a>
        <a class="{% if request.path == '/Treatment' %}active {% endif %}" href='/treatment'>Treatment</a>
        <a class="{% if request.path == '/Doctor' %}active {% endif %}" href='/doctor'>Doctor</a>
        <a class="{% if request.path == '/Bed' %}active {% endif %}" href='/bed'>Bed</a>
        </nav>
    </div>
</header>
