{% extends "base.html" %}

{% block css_link %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dashboard.css') }}">
{% endblock %}

{% block content %}
<body>

{% include "topbar.html" %}

<section class="">
    <div class="">
        {% for dict in data %}
        
        <div class="">
            <h3>{{dict['TREATMENT_ID']}}</h3>
            <p>{{dict['NAME']}}</p>
            <p>Auriculotherapy (also auricular therapy, ear acupuncture, and auriculoacupuncture) is a form of alternative medicine based on the idea that the ear is a micro system, which reflects the entire body, represented on the auricle, the outer portion of the ear.</p>
                    
        </div>
        
        {% endfor %}

    </div>
</section>        


{% endblock %}