{% extends "base.html" %}

{% block css_link %}
<!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dashboard.css') }}"> -->
{% endblock %}

{% block content %}
<body>

{% include "topbar.html" %}

<section class="">
    <div class="">
        {% for dict in data %}
        
        <div class="">
            <h3>{{dict['TREATMENT_ID']}}</h3>
            <p>{{dict['NAME']}}</p>
            <p>{{dict['PRICE']}}</p>
        </div>
        
        {% endfor %}

    </div>
</section>        


{% endblock %}